@using EShop.Domain.ViewModels.ProductAgg
@model ShowProductViewModel


<div class="col-md-3 mb-4">
    <div class="card shadow-sm" style="border-radius:10px;">
        <img src="@Model.ImagePath" class="card-img-top" style="height:200px; object-fit:cover;" />
        <div class="card-body text-center">
            <h6 class="card-title">@Model.Title</h6>
            <p class="text-muted">@Model.UnitCost.ToString("N0") تومان</p>

            <div class="d-flex justify-content-between align-items-center mt-2">
                <button class="btn btn-outline-primary add-to-card" data-id="@Model.Id"
                        data-title="@Model.Title"
                        data-price="@Model.UnitCost">
                    <i class="fa fa-shopping-cart"></i> سبد
                </button>

                <a href="/Products/Details?id=@Model.Id" class="btn btn-outline-secondary btn-sm">جزییات</a>
            </div>
        </div>
    </div>
</div>
