@page
@using EShop.Application.Dtos
@model IndexModel
@{
    ViewData["Title"] = "محصولات";
}

<div class="row">

    <div class="form-group mb-3">
        <label for="CategoryId">دسته‌بندی</label>
        <form method="post" asp-page-handler=GroupingBy" class="form-group">
            <select asp-for="Group.CategoryId" class="form-select mb-3">
                @foreach (var cat in Model.Categories)
                {
                    <option value="@cat.Id">@cat.Title</option>
                }

            </select>
            <button type="submit" class="btn btn-outline-primary">اعمال</button>
        </form>
    </div>

        <hr />
    <h3 class="mb-4">محصولات</h3>

        <div class="row">
            @foreach (var product in Model.Products.Where(p => !p.IsDelete))
            {
                <partial name="_ProductBox" model="product" />
            }
        </div>
</div>



@section Scripts {
          <script>
        window.productsData = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.Products))
        window.serverCartItems = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.CartItems ?? new List<EShop.Application.Dtos.CartItemDto>()));  
        window.userIsLoggedIn = @User.Identity.IsAuthenticated.ToString().ToLower();
    </script>    
    <script src="~/js/shopcart.js" defer></script>
}
